HTML:
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Election 2016</title>
<link rel="stylesheet" href="css/vote.css" media="screen" title="no title">
<link rel="stylesheet" href="style.css">
</head>
<body>
<br/>
<center><h1>Admin Resources</h1></center>
<br/>
<br/>
<br/>
<br/>

<center><p><a href="https://navigator-lxa.mail.com/mail?sid=53d2c9841d7ff9ab4f70030808ae453039ac9678569b005ab2bcb722f2bd7d512e212a6166018c3dae5f6bc666ab97e4&tz=-5">For registration, click here.</a> <br/><br/> </p> </center>
<p><strong><h3>For election results, click here.</h3></strong><br> </p> </br></br>
    <center><FORM METHOD="LINK" ACTION="/">
  <INPUT TYPE="submit" VALUE="Home"></center>




<br/>
<br/>
<br/>
<br/>
<center><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Republicanlogo.svg/2000px-Republicanlogo.svg.png" width="70" height= "60" align="bottom">
<img src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/1/005/096/19d/3689cff.png" width="70" height="70">
<img src="https://upload.wikimedia.org/wikipedia/en/e/e3/DemocraticLogo.png" width="70" height="70"></center>


</body>
</html>
