<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>2016 HB Election</title>
    <link rel="stylesheet" href="css/vote.css" media="screen" title="no title">
  </head>
  <body>
    <br>
    <center><h1>Welcome to the 2016 Hathaway Brown Election.</h1></center>
    <center>
      <form action="/process" method="post">
        <br><br>
      <h3>Please type in the first part of your HB email (eg. ssadler10):</h3><br>
        <input type="text" name="username">
        <br><br>
        <input type="submit" value="Ready!">
        <br>
      </form>
      <br>
      <br>
      <center><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Republicanlogo.svg/2000px-Republicanlogo.svg.png" width="90" height= "80" align="bottom">
        <img src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/1/005/096/19d/3689cff.png" width="90" height="90">
      <img src="https://upload.wikimedia.org/wikipedia/en/e/e3/DemocraticLogo.png" width="90" height="90"></center>
      <br>
      <br>
      <br>
      <br>
      <form action="/admin" method="post">
        Admin? Please enter the key to view the administrator page.<br><br>
          <input type="text" name="key">
          <br><br>
          <input type="submit" value="Submit">
          <br/>
      </form>
    </center>
  </body>
</html>
