HTML:
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Election 2016</title>
<link rel="stylesheet" href="css/styling.css" media="screen" title="no title">
</head>
<body>
<br/>
<center><h1>Login Failed</h1></center>
<br/>
<br/>
<br/>
<br/>

<center><p>Either you typed your name wrong or you are not registered to vote.<br/><br/><center><p>
  <FORM METHOD="LINK" ACTION="/">
<INPUT TYPE="submit" VALUE="Try Again">
</FORM></p> </center></p> </center>




<br/>
<br/>
<br/>
<br/>
<center><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Republicanlogo.svg/2000px-Republicanlogo.svg.png" width="70" height= "60" align="bottom">
<img src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/1/005/096/19d/3689cff.png" width="70" height="70">
<img src="https://upload.wikimedia.org/wikipedia/en/e/e3/DemocraticLogo.png" width="70" height="70"></center>


</body>
</html>
