<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Presidential Election</title>
<link rel="stylesheet" href="css/styling.css" media="screen" title="no title">
  </head>
  <body>
    <br>
    <center><h1>VOTE!<h1>
      <iframe src="https://docs.google.com/a/hb.edu/forms/d/e/1FAIpQLSct4gDt3Qsyv8yVUf57wq-2Pkd4JrUM4v7G0dljaqphME3H4w/viewform?embedded=true" width="765" height="2100" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
      <form method="get" action="/donevoting">
      <button type="submit, button, big-btn">Continue</button>
  </form>
</center>
  <!-- <br><br>  <form action="/voting" method="post">
      <label for="question1"></label><br>
      <input type="radio" name="president" value="trump"><b>Donald Trump, Republican Party</b><br>
      Donald Trump is the 2016 Republican nominee for president of the United States. He declared his candidacy on June 16, 2015, and officially received the nomination of the Republican Party on July 19, 2016, at the Republican National Convention. Mike Pence is the Republican nominee for vice president in 2016. On July 15, 2016, Donald Trump announced that he had selected Pence as his running mate.<br><br>
      <input type="radio" name="president" value="clinton"><b>Hillary Clinton, Democratic Party</b><br>
      Hillary Clinton is the 2016 Democratic nominee for president of the United States. She declared her candidacy on April 12, 2015, and officially received the nomination of the Democratic Party on July 26, 2016, at the Democratic National Convention. Tim Kaine is the Democratic nominee for vice president in 2016. On July 22, 2016, Hillary Clinton announced via text message and Twitter that she had selected Kaine to be her running mate, calling him "a man who's devoted his life to fighting for others."<br><br>
      <input type="radio" name="president" value="johnson"><b>Gary Johnson, Libretarian Party</b><br>
      Gary Johnson is the 2016 Libertarian Party nominee for president of the United States. He declared his candidacy on January 6, 2016, and formally received the party’s nomination on May 29, 2016, at the Libertarian National Convention. Bill Weld is running as a Libertarian candidate for vice president of the United States in the 2016 election. The Libertarian candidate for president, former Republican New Mexico Governor Gary Johnson, announced that Weld would join his campaign on May 19, 2016.<br><br>
      <input type="radio" name="president" value="stein"><b>Jill Stein, Green Party</b><br>
      Jill Stein is the 2016 Green nominee for president of the United States. She declared her candidacy on June 22, 2015, and officially received the nomination of the Green Party on August 6, 2016, at the Green Party National Convention. Ajamu Baraka is the Green Party candidate for vice president of the United States in 2016. Jill Stein, the Green Party presidential nominee, announced on August 1, 2016, that Baraka would serve as her running mate. She described him as an "activist, writer, intellectual and organizer with a powerful voice, vision, and lifelong commitment to building true political revolution."<br><br>
      <input type="radio" name="president" value="duncan"><b>Richard Duncan, Independent</b><br>
      Richard Duncan is an independent candidate seeking election to the role of president.<br><br>
<br>
      <center><input type="submit" value="Vote!"></center>
    </form> -->
    <br/>
<br/>
<br/>
<br/>
<center><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Republicanlogo.svg/2000px-Republicanlogo.svg.png" width="70" height= "60" align="bottom">
<img src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/1/005/096/19d/3689cff.png" width="70" height="70">
<img src="https://upload.wikimedia.org/wikipedia/en/e/e3/DemocraticLogo.png" width="70" height="70"></center>
  </body>
</html>
